@import "tailwindcss";

@theme {
  /* Rangi za Varex Group */
  --color-brand-blue: #0A192F; /* Rangi kuu ya giza (Navy) inayoashiria Uaminifu */
  --color-brand-orange: #00008B; /* Rangi ya machungwa inayoashiria Usalama na Nishati */
  --color-brand-gray: #F3F4F6;
  --color-brand-light: #F8FAFC;
}

@layer base {
  body {
    @apply text-gray-800 bg-white antialiased;
  }
}

/* Custom Scrollbar kwa ajili ya usafi */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F3F4F6; 
}
::-webkit-scrollbar-thumb {
  background: #0A192F; 
  border-radius: 4px;
}